body {
    color: #666666;
    font: 16px Verdana, sans-serif;
}

h1 {
    font: 50px Verdana;
    margin: 47px 0px 26px 0px;
}

h2 {
    margin: 0px 0px 25px 5px; 
    color: #f07c17;
    font: bold 25px Verdana;
}

p {
    margin: 0px 0px 10px 8px;
    line-height: 32px;
    padding: 0px;
}

ul {
    line-height: 32px;
}

.outlined-box {
    padding: 25px;
    border: 1px solid #cccccc;
} 

.mug-box {
    margin: 0px 0px 25px 0px;
}

.mockup-overlay {
       top: 0;
       position: absolute;
       z-index: -1;
       opacity: .4;
}